body {
          background-color: rgba(234, 217, 146, 1);
          color: rgba(74, 67, 33, 1);
          font-family: sans-serif;
          display: flex;
          height: 98vh;
          gap: 10px;
          align-items: center;
          justify-content: space-around;
          overflow: hidden;
     }

     .main {
          display: flex;
          gap: 0px;
          height: 660px;
          overflow-y: scroll;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 1300px;
          background-color: rgba(237, 204, 113, 1);
          padding: 10px 20px 20px 20px;
          border-radius: 30px;
          line-height: 29px;
          animation: inro2 2s cubic-bezier(.93,.18,.03,1.39);
    }

    @keyframes inro2 {
      from {
        transform: translateY(900px);
      }

      to {
        transform: translateY(0px);
      }
    }

     /* Target the entire scrollbar */
     ::-webkit-scrollbar {
          width: 10px;
          /* Set the width of the scrollbar */
          background-color: #f0f0f000;
          /* Background of the scrollbar track */
     }

     /* Target the scrollbar track (the area the thumb moves along) */
     ::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          background-color: #f5f5f500;
     }

     /* Target the scrollbar thumb (the draggable part) */
     ::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #55555500;
     }

     /* Style the thumb on hover */
     ::-webkit-scrollbar-thumb:hover {
          background-color: rgb(236, 212, 103);
     }

     button {
          background-color: rgba(244, 210, 114, 1);
          color: rgba(74, 67, 33, 1);
          padding: 10px;
          font-size: 15px;
          border: none;
          outline: none;
          border-radius: 30px;
          cursor: pointer;
          width: 200px;
          font-weight: 900;
          transition: 0.2s ease;
     }

     button:hover {
          background-color: rgba(203, 188, 85, 1);
          box-shadow: 0 0 10px rgba(127, 111, 25, 1);
     }

     .nav {
          display: flex;
          gap: 10px;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 200px;
          background-color: rgba(237, 204, 113, 1);
          padding: 10px 20px 20px 20px;
          border-radius: 30px;
          line-height: 0px;
          animation: intro 2s cubic-bezier(.96,.25,.01,1.36);
     }
     @keyframes intro {
      from {
        transform: translateX(-600px);
      }

      to {
        transform: translateX(0px);
      }
    }

     a {
          color: rgba(74, 67, 33, 1);
     }
     a:hover {
          text-decoration: none;
     }